header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 7rem;
    background-color: #292F36;
    border-bottom: 2px solid #ac9cdc;
}

main {
    z-index: 0;
    height: 200vh;
    width: 100vw;
    padding-top: 3rem;
}

footer {

}


/* Header content styles */

.logo {
    height: 5rem;
    width: 5rem;
    position: relative;
    left: 10px;
    cursor: pointer;
}

#header-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    padding: 0 1rem 0 1rem;
    position: absolute;
    right: 10px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: auto;
    padding: 0 0.5rem 0 0.5rem;
    background-color: #292F36;
    color: #ac9cdc;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header-button h1 {
    font-size: large;
}


/* Main content styles */

.background-block {
    border: none;
    border-radius: 1rem;
}

#first-block {
    z-index: -1;
    height: 50rem;
    width: 20rem;
    background-color: #292F36;
    position: absolute;
    top: 0;
    right: 0;
}

#second-block {
    z-index: -1;
    height: 35rem;
    width: 40rem;
    background-color: #F7F5FB;
    position: absolute;
    top: 70rem;
    right: -20px;
}

#third-block {
    z-index: -2;
    height: 30rem;
    width: 70rem;
    background-color: #292F36;
    position: absolute;
    top: 48rem;
    left: -20px;
    box-shadow: 4px 4px #ac9cdc33;
}

#fourth-block {
    z-index: -1;
    height: 40rem;
    width: 100rem;
    background-color: #292F36;
    position: absolute;
    top: 120rem;
    left: -20px;
    box-shadow: 4px 4px #ac9cdc33;
}

#fifth-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 25rem;
    width: 60rem;
    background-color: transparent;
    color: #292F36;
    position: absolute;
    top: 80rem;
    left: 1rem;
}

#fifth-block h2 {
    z-index: 1;
    margin-left: 30px;
}

.split-content-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 30rem;
    margin: 0 5vw 0 5vw;
    background-color: transparent;
}

.split-image {
    background-color: transparent;
    height: 30rem;
    width: 30rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.split-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 30rem;
    width: 70rem;
    background-color: #ac9cdc;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.creator-list {
    display: none;
}

.looking-for-creators {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 30rem;
    margin: 3rem 5vw 0 5vw;
    background-color: transparent;
    color: #ac9cdc;
}

#contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 15rem;
    border: 1px solid #ac9cdc;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: #ac9cdc;
    cursor: pointer;
    transition: 0.25s;
}

#contact-button:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

#how-we-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 65rem;
    width: 90vw;
    margin: 1rem 5vw 1rem 5vw;
    background-color: transparent;
}

.first-staggered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30rem;
    width: 30rem;
    background-color: transparent;
    color: #ac9cdc;
    position: absolute;
    left: 6vw;
    margin-top: 7rem;
}

.second-staggered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30rem;
    width: 30rem;
    background-color: transparent;
    color: #ac9cdc;
    position: absolute;
    left: 35vw;
    margin-top: 18rem;
}

.third-staggered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30rem;
    width: 30rem;
    background-color: transparent;
    color: #ac9cdc;
    position: absolute;
    left: 64vw;
    margin-top: 32rem;
}

.thirds-image {
    height: 20rem;
    width: 20rem;
    box-shadow: 4px 4px #ac9cdc33;
    border-radius: 0.5rem;
}

#meet-the-team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    width: 90vw;
    background-color: transparent;
    margin: 3rem 5vw 0 5vw;
}

#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 40rem;
    width: 90vw;
    background-color: transparent;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40rem;
    width: 25vw;
    background-color: #F7F5FB;
    border: none;
    border-radius: 0.5rem;
}

.card-image {
    height: 15vw;
    width: 15vw;
    border: none;
    border-radius: 0.5rem;
}

#our-tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 90rem;
    width: 90vw;
    background-color: #F7F5FB;
    margin: 8rem 5vw 0 5vw;
    border-radius: 1rem;
}

.tech-highlight-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90rem;
}

.tech-highlight {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 30rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-left: 1rem;
}

.split-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 25rem;
    width: 85vw;
    background-color: white;
    border-radius: 1rem;
}

.crypto-logo {
    height: 20rem;
    width: 20rem;
    background-color: #F7F5FB;
}